.container-3-box p {
  border-top: #fff 1px solid;
}

.container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-3 div {
  border: 1px #ccc solid;
  padding: 10px;
}

.container-3-box {
  flex-basis: 12%;
}

.container-3 .done {
  border-color: #8b0000;
}

.container-3 .current {
  border-color: #000080;
}
