/* Main */
body {
  background-color: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 2rem;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */
#main-header {
  background-color: #000;
  color: #fff;
}

#header {
  text-align: center;
  font-size: 4rem;
  color: #fff;
}

/* Navbar */
#navbar {
  background-color: #000080;
  color: #fff;
  text-align: center;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

.current a {
  font-weight: bold;
  color: coral;
}

/* Showcase */
#showcase {
  background-image: url("../images/policecharger.PNG");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1 {
  color: #333;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

/* Colors */
.gold {
  color: #ffd700;
}

.red {
  color: #8b0000;
}

.bold {
  font-weight: bold;
}

/* Buttons */
.btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  border: 1px solid #000080;
  border-radius: 2px;
  font-weight: 500;
  background: none;
  color: #ffd700;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  width: 50%;
  text-align: center;
}

.btn:hover {
  border-color: #fff;
  color: #fff;
}

/* Footer */
#main-footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  padding: 2rem;
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }

  #sidebar {
    width: 100%;
    float: none;
  }
}
